* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background: rgb(200, 200, 200);
}

#display {
    padding: 15px;
    border: none;
    border-radius: 20px;
    width: 450px;
    font-size: 16px;
}

#display:focus {
    outline: none;
}

.enterBtn {
    margin-left: 5px;
    padding: 10px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
} 


.enterBtn:hover {
    background-color: green;
    color: white;
}

.enterBtn:active {
    background-color: rgb(96, 212, 96);
}


.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/*container when task is added - js will toggle this*/
.newInputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin: auto;
}

/*styling new task container for the tasks*/
.newTaskContainer {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 3rem;
    margin-top: 50px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
}

/*styling new text */
.newText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    background-color: rgb(254, 255, 255);
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    transition: opacity 0.5s ease-in-out;
}

.newText.click {
    background-color: black;
    color: white;
    text-decoration: line-through;
}

/*styling individual sections*/
.newTaskSection {
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* delete btn class add*/
.deleteBtn {
    padding: 10px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    width: 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.deleteBtn:hover {
    background-color: red;
    color: white;
}

.deleteBtn:active {
    background-color: rgb(228, 133, 133);
}

.errorMsg {
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
} 
.errorMsg.show {
    opacity: 1;
}

/*Success msg */
.successMsg {
    text-align: center;
    width: 250px;
    color: green;
    font-weight: 600;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.successMsg.show {
    opacity: 1;
}

.checkoffBtn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


.checkoffBtn:hover {
    background-color: coral;
    color: white;
}

.checkoffBtn:active {
    background-color: rgb(246, 170, 143);
}

